* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}
i {
  cursor: pointer;
}
.container-fluid {
  width: calc(100% - 200px);
  margin: 0 auto;
}
.img-width {
  width: 65px;
}
.first {
  background-image: url(../img/Metaverse.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  width: calc(100% - 450px);
  margin: 60px auto;
}
#check{
    display: none;
  }
  .hamburger {
    display: none;
    position: absolute;
    top: 40px;
    right: 50px;
}
.main h2,
h3,
h4 {
  font-size: 48px;
  font-weight: 700;
}
button {
  border: 0;
  border-radius: 15px;
  padding: 3px 15px;
}
.features:hover{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 600;
    font-size: 18px;
}
.blue {
  color: white;
  background: linear-gradient(
    173deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 12, 123, 1) 42%,
    rgba(9, 9, 121, 1) 42%,
    rgba(1, 192, 242, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.slide-right{
    width: 100%;
    animation: 5s slide-right;
}
@keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
.orange {
  background: linear-gradient(
    180deg,
    rgba(242, 134, 1, 1) 57%,
    rgba(255, 219, 125, 1) 99%
  );
}
.text-orange {
  color: orange;
}
.multi-color {
  background: linear-gradient(
    107deg,
    rgba(255, 219, 125, 1) 9%,
    rgba(242, 134, 1, 1) 27%,
    rgba(230, 75, 250, 1) 56%,
    rgba(163, 75, 250, 1) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-color {
    border-radius: 25px;
  color: white;
  background: linear-gradient(
    107deg,
    rgba(116, 75, 250, 1) 20%,
    rgba(163, 75, 250, 1) 42%,
    rgba(250, 142, 75, 1) 77%
  );
}
.hero .card{
    animation: 10s slide-up infinite;
}
@keyframes slide-up{
    0% {
        transform:translateX(0px) translateY(150px)  scale(0.95) ;
      }
      10% {
        transform:translateX(0px) translateY(100px)  scale(0.95) ;
      }
      20% {
        transform: translateX(0px) translateY(60px)  scale(0.95);
      }
      25%, 44% {
        transform: translateX(0px) translateY(30px) scale(0.95);
      }
      50%, 60% {
        transform: translateX(0px) translateY(-40px) scaleX(0.95);
      }
      75% {
        transform: translateX(0px) translateY(-60px) scaleX(0.95);
      }
       100% {
        opacity: 0;
      }
}
.card-2 {
  width: calc(100% - 70px);
  margin: 20px auto;
}
.card-3 {
  width: calc(100% - 140px);
  margin: 0 auto;
  padding-bottom: 20px;
}
.bg-dark-grey {
  background-color: rgb(37, 37, 37);
}
.about-us {
  background-image: url(../img/metaverse-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.certificate-img {
  width: 200px;
}
.about {
  background: linear-gradient(
    107deg,
    rgba(247, 190, 54, 1) 20%,
    rgba(250, 75, 146, 1) 42%,
    rgba(151, 75, 250, 1) 77%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.w-400 {
bottom: 50px;
  width: 400px;
  text-align: -webkit-right;
}
.text-box {
  width: calc(100% - 410px);
}
.top-110 {
  top: 110px;
}
.w-110{
    width: 110px;
}
  .solar-system {
    position: relative;
    width: 780px;
    height: 780px;
    margin: 0 auto;
    overflow: hidden;
    top: 30px;
    right: 45px;
  }
   
  .orbit {
    border: 1px solid #666;
  }
   
  #grey-circle,
  .orbit,
  .orbit + div,
  .orbit + div > div {
    position: absolute;
  }
   
  #grey-circle,
  .orbit,
  .orbit + div {
    top: 50%;
    left: 50%;
  }
  .orbit + div > div {
    top: 0;
    left: 50%;
  }
   
  .orbit,
  .orbit + div div,
  #earth {
    border-radius: 50%;
  }

  #grey-circle {
    height: 200px;
    width: 200px;
    background-color: rgb(44, 44, 44);
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 50%;
  }
   
  #earth {
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;
    box-shadow: 0 0 34px #3a4385;
  }
   
  .earth-orbit,
  .earth-spin {
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
  }
   
  #moon {
    margin-top: -6px;
    margin-left: -6px;
    height: 12px;
    width: 12px;
    border-radius: 50%;

  }
  .moon-orbit,
  .moon-spin {
    height: 90px;
    width: 90px;
    margin-top: -45px;
    margin-left: -45px;
    background: linear-gradient(107deg, rgba(151,75,250,1) 34%, rgba(246,109,165,1) 53%);
  }
   
  #venus {
    margin-top: -20px;
    margin-left: -20px;
    height: 40px;
    width: 40px;
    background: linear-gradient(107deg, rgba(151,75,250,1) 34%, rgba(246,109,165,1) 53%);
  }
  .venus-orbit,
  .venus-spin {
    margin-top: -185px;
    margin-left: -185px;
    width: 370px;
    height: 370px;
  }
   
  #mercury {
    margin-top: -13.5px;
    margin-left: -13.5px;
    height: 25px;
    width: 25px;
    background: linear-gradient(107deg, rgba(151,75,250,1) 34%, rgba(246,109,165,1) 53%);
  }
   
  .mercury-orbit,
  .mercury-spin {
    width: 280px;
    height: 280px;
    margin-left: -140px;
    margin-top: -140px;
  }
   
  #mars {
    margin-top: -16px;
    margin-left: -16px;
    height: 32px;
    width: 32px;
    background: linear-gradient(107deg, rgba(151,75,250,1) 34%, rgba(246,109,165,1) 53%);
  }
   
  .mars-orbit,
  .mars-spin {
    width: 700px;
    height: 700px;
    margin-left: -350px;
    margin-top: -350px;
  }
   
  /* Spinning animations */
   
  @keyframes spin-right {
    100% {
      transform: rotate(360deg);
    }
  }
   
  .earth-spin {
    animation: spin-right 36.5s linear infinite;
  }
  .moon-spin {
    animation: spin-right 3s linear infinite;
  }
  .venus-spin {
    animation: spin-right 22s linear infinite;
  }
  .mercury-spin {
    animation: spin-right 8.8s linear infinite;
  }
  .mars-spin {
    animation: spin-right 68.7s linear infinite;
  }
.investment{
    height: 100%;
    background-image: url(../img/stars.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Ball*/
.ball {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #cbcaca, #1b1919 80%, #000000 100%);
    animation: move-ball 15s ease-out infinite;
  }
  .ball:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
  }
  @keyframes move-ball {
    0% {
      transform: none;
    }
    20% {
      transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95);
    }
    25%, 44% {
      transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95);
    }
    50%, 60% {
      transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg) scaleX(0.95);
    }
    66%, 100% {
      transform: none;
    }
  }
  
  @media screen and (max-width:960px){
     .container-fluid{
        width: calc(100% - 70px);
     }
  }
  @media screen and (max-width:835px){
    .container-fluid{
       width: calc(100% - 50px);
    }
 }
 @media screen and (max-width:810px){
    .hamburger{
        display: block;
        color: white;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
      }
      #check:checked ~ .menu{
        left: 0;
      }
      .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #2d1948;
        top: 55px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: flex;
        z-index: 2;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .contact{
        margin: 15px 0;
      }
      .about-page{
        flex-direction: column;
        align-items: center;
      }
      .text-box{
        width: calc(100% - 200px);
      }
      .solar-system{
        width: 620px;
      }
      .mercury-orbit, .mercury-spin {
        width: 260px;
        height: 260px;
        margin-left: -128px;
      }
      .venus-orbit, .venus-spin {
        margin-left: -172px;
        width: 350px;
        height: 350px;
      }
      .earth-orbit, .earth-spin {
        width: 450px;
        height: 450px;
        margin-left: -224px;
    }
    .mars-orbit, .mars-spin {
        width: 595px;
        height: 595px;
        margin-left: -300px;
        margin-top: -324px;
    }
    .moon-orbit, .moon-spin {
        height: 65px;
        width: 65px;
        margin-top: -30px;
    }
    .bg-dark-grey{
        flex-direction: column;
    text-align: center;
    }
 }
 @media screen and (max-width:650px){
    #grey-circle {
        height: 140px;
        width: 140px;
        background-color: rgb(44, 44, 44);
        margin-top: -84px;
        margin-left: -75px;
    }
    .mercury-orbit, .mercury-spin {
        width: 200px;
        height: 200px;
        margin-left: -103px;
        margin-top: -110px;
    }
    .venus-orbit, .venus-spin {
        margin-left: -151px;
        width: 300px;
        height: 300px;
    }
    .earth-orbit, .earth-spin {
        width: 375px;
        height: 375px;
        margin-left: -190px;
        margin-top: -230px;
    }
    .moon-orbit, .moon-spin {
        height: 50px;
        width: 50px;
        margin-top: -25px;
    }
    .mars-orbit, .mars-spin {
        width: 500px;
        height: 500px;
        margin-left: -256px;
        margin-top: -314px;
    }
    .solar-system {
        width: 521px;
    }
 }
 @media screen and (max-width: 535px) {
    #grey-circle {
        height: 95px;
        width: 95px;
        margin-top: -48px;
        margin-left: -55px;
    }
    #grey-circle h3{
        font-size: 20px;
    } 
    .mercury-orbit, .mercury-spin {
        width: 150px;
        height: 150px;
        margin-left: -81px;
        margin-top: -79px;
    }
    .venus-orbit, .venus-spin {
        margin-left: -123px;
        width: 230px;
        height: 230px;
        margin-top: -135px;
    } 
    .earth-orbit, .earth-spin {
        width: 300px;
        height: 300px;
        margin-left: -160px;
        margin-top: -175px;
    }  
    .mars-orbit, .mars-spin {
        width: 400px;
        height: 400px;
        margin-left: -211px;
        margin-top: -230px;
    }
    .solar-system {
        width: 430px;
    }
    .text-box{
        width: 100%  !important;
    }
    .w-400{
        width: 200px;
        right: 56px;
    }
 }
 @media screen and (max-width:450px){
    .solar-system {
        width: 325px;
    }
    .mercury-orbit, .mercury-spin {
        width: 120px;
        height: 120px;
        margin-left: -67px;
        margin-top: -64px;
    }
    .venus-orbit, .venus-spin {
        margin-left: -92px;
        width: 170px;
        height: 170px;
        margin-top: -92px;
    }
    .earth-orbit, .earth-spin {
        width: 230px;
        height: 230px;
        margin-left: -124px;
        margin-top: -130px;
    }    
    .mars-orbit, .mars-spin {
        width: 300px;
        height: 300px;
        margin-left: -160px;
        margin-top: -167px;
    }
 }
